* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(img/Vector\ Smart\ Object@1X.png);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

header button {
    color: white;
}

button {
    border: none;
}

.signup button {
    background: rgba(255, 255, 255, 0);
    border: 2px solid white;
    font-size: 14px;
    padding: 5px;
    border-radius: 20px;
}

.name,
button,
h1,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


p {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.login button {
    background: rgba(0, 0, 0, 0);
}

footer h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #333333;
}

.down {
    font-family: 'Montserrat', sans-serif;
}
.people img{
    border-radius: 50%;
}
footer{
    text-align: center;
}

@media (min-width: 320px) {
    .logo {
        display: flex;
        flex-direction: column-reverse;
    }

    .name {
        font-size: 20px;
    }

    .butts {
        display: flex;
        font-size: 14px;
    }

    .butt button {
        background: #ff4e50;
        width: 280px;
        height: 40px;
        border: none;
        border-radius: 20px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 542px;
    }

    .middle {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .logo .butts {
        margin-top: 20px;

    }

    .login {
        margin-top: 8px;
        margin-left: 18%;
        margin-right: 10%;

    }

    .name {
        margin-top: 140px;
    }

    .middle h1 {
        margin-top: 30px;
    }

    .middle p {
        margin-top: 20px;
    }

    .butt {
        margin-top: 20px;
    }

    footer h5 {
        font-weight: 22px;
    }

    .down {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 14px;
    }

    .people h6 {
        font-weight: bold;
        font-size: 14px;
        color: #333333;
    }
    .people img{
        margin-top: 15px;
    }
    .people h6{
        
    }
    .people p{
        color: #333333;
        font-size: 14px;
        margin-top: 15px;
    }
    .untop{
        border: 2px solid #ff4e50;
        width: 280px;
        background: transparent;
        height: 40px;
        border: none;
        border-radius: 20px;
        text-align: center;
        color: #ff4e50;
    }
    h3{
        margin-top: 70px;
    }

}


@media (min-width: 768px) {
    .logo {
        display: flex;
        flex-direction: row;
    
    }
    .name{
        
    }
}

@media (min-width: 1440px) {
    .logo {
        display: flex;
        flex-direction: column;
    }
}