* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(img/Vector\ Smart\ Object@1X.png);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

.logo {
    display: flex;
    flex-direction: column-reverse;
}

.name {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

.login button,
.signup button {
    background-color: Transparent;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.butts button {
    background: rgba(255, 255, 255, 0);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
}

.butts {
    display: flex;
    flex-direction: row;
    margin-bottom: 115px;
    justify-content: center;
}

.signup button {
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 12px 18px 10px 19px;
    margin-top: 21px;
    margin-left: 10px;
}

.login button {
    margin-top: 33px;
    margin-right: 10px;
}

.middle h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 38px;
    font-weight: bold;
    text-transform: uppercase;
}

.middle p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-top: 19px;
}

.butt button {
    background: #ff4e50;
    border: none;
    padding: 0 32px;
    border-radius: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transform: translate(-50%, 0);
    margin-left: 50%;
    margin-top: 33px;
    margin-bottom: 139px;
    width: 280px;
    height: 40px;
}

footer h3 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(51, 51, 51);
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
    max-width: 258px;
}

.big {
    position: relative;
    margin-bottom: 20px;
    width: 122px;
    height: 122px;
}

.big img {
    border-radius: 50%;
}

.big::after {
    border: 4px solid #ffffff;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    position: absolute;
    left: 71%;
    top: 71%;
}

.big1::after {
    content: "";
    background: url(img/Shape\ 128@1X.png) 50% 50% no-repeat, #ff4e50;
}

.big2::after {
    content: "";
    background: url(img/Shape\ 155@1X.png) 50% 50% no-repeat, #ffa507;
}

.big3::after {
    content: "";
    background: url(img/Shape\ 153@1X.png) 50% 50% no-repeat, #1cd7ad;
}

.big4::after {
    content: "";
    background: url(img/Shape\ 170@1X.png) 50% 50% no-repeat, #4e73db;
}

.down {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
    max-width: 470px;
    margin: 0 auto;
}

.people {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.people h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #333333;
    font-size: 14px;
    margin-bottom: 16px;
}

.people p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: #666666;
    margin-bottom: 28px;
}

.untop {
    width: 280px;
    height: 40px;
    border: 3px solid #ff4e50;
    background: transparent;
    border-radius: 20px;
    transform: translate(-50%, 0);
    margin-left: 50%;
    color: #ff4e50;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media(min-width:768px) {
    .logo {
        flex-direction: row;
        justify-content: space-around;
    }

    .name {
        margin-top: 46px;
    }

    .signup button {
        margin-top: 34px;
    }

    .login button {
        margin-top: 46px;
    }

    .middle h1 {
        font-size: 52px;
    }

    .middle p {
        font-size: 24px;
    }

    .down {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .butt button{
        margin-bottom: 234px;
    }

    footer h3 {
        max-width: 401px;
    }
}
@media(min-width:1024px){
    .down{
        max-width: 914px;
    }
}