body {
    position: relative;
    background: rgb(255, 0, 136);
}

.zheka {
    border-radius: 50%;
    width: 7%;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 200px;
    left: 50%;
    animation: 1s infinite;
    animation-fill-mode: backwards;
    z-index: 100;
}

.roma {
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 7%;
    /* height: 10px; */
    background-color: rgb(255, 0, 200);
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 50%;
    animation: heart 1s infinite;
}

@keyframes heart {
    0% {
        top: 200px;
        left: 50%;
    }

    9% {
        top: 170px;
        left: 48%;
    }

    18% {
        top: 140px;
        left: 42%;
    }

    27% {
        top: 170px;
        left: 36%;
    }

    36% {
        top: 200px;
        left: 34%;
    }

    41% {
        top: 260px;
        left: 36%;
    }

    50% {
        top: 400px;
        left: 50%;
    }

    59% {
        top: 260px;
        left: 64%;
    }

    64% {
        top: 200px;
        left: 66%;
    }

    73% {
        top: 170px;
        left: 64%;
    }

    82% {
        top: 140px;
        left: 58%;
    }

    91% {
        top: 170px;
        left: 52%;
    }

    100% {
        top: 200px;
        left: 50%;
    }

}