* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mogo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #95e1d3;
    font-weight: 700;
    margin-left: 19.5%;
    display: inline;
}

.a {
    display: inline;
}

.a a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin-left: 3%;
}

.a a:nth-child(1) {
    margin-left: 35%;
}

.a a:hover {
    color: #f38181;
    padding-bottom: 5px;
    border-bottom: 2px solid #f38181;
}

.kaushan {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    text-align: center;
    margin-top: 12px;
    position: relative;
}

.empty {
    height: 3px;
    width: 60px;
    background: #f38181;
    position: absolute;
    right: 48%;
    margin-top: 30px;
}

.services {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.div {
    width: 352px;
    height: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

}

.div h1 {
    color: #333333;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: left;
}

.div .ok {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #b6b6b6;
}

.image {
    margin-top: 20px;
    margin-right: 20px;
}

.lol {
    margin-top: 70px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
    margin-left: 12%;
    margin-right: 12%;
}

.container {
    margin: 20px;
    width: 380px;
    height: 470px;
    background: #000;
    position: relative;
    transition: all 0.2s ease-in;
}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    transition: all 0.2s ease-in;
    display: none;
    align-items: center;
    top: 0;
}

.container:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 #95e1d3;
    transition: all 0.2s ease-in;
}

.container:hover .overlay {
    display: flex;
    background: linear-gradient(to bottom, rgb(255, 0, 0 , 0.6), rgba(255,255,0,0.6));
    transition: all 0.2s ease-in;
}
.container:hover .button{
    display: block;
    opacity: 1;
    transition: all 0.2s ease-in;
}

.container img {
    height: 470px;
    width: 380px;
}

.summ {
    display: flex;
    justify-content: space-evenly;

}

.button {
    opacity: 0;
    width: 56px;
    height: 56px;
    background: #fce38a;
    text-align: center;
    transition: all 0.2s ease-in;
}

.button:hover {
    background: #95e1d3;
}

.button:nth-child(4n+1) {
    margin-left: 78px;
}

.button img {
    max-width: 26px;
    max-height: 26px;
    width: auto;
    height: auto;
    margin-top: 15px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 30px;
}

.text p:nth-child(1) {
    font-size: 10px;
}

.text p:nth-child(2) {
    font-size: 10px;
    color: #333333;
}

.bottom::before {
    content: "";
    width: 1200px;
    height: 1px;
    background: #bdbaba;
    position: absolute;
    display: block;
    bottom: -740px;
}
.submit{
    height: 40px;
    width: 150px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: #95e1d3;
    border: none;
    color: #fff;

}
.input{
    height: 40px;
    width: 230px;
    float: left;
}
.down{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.bottom{
    display: flex;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 100px;
    justify-content: space-between;
}
.input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: lightslategray;
    margin-left: 5px;
}