* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

span {
    color: rgb(26, 188, 156);
    font-weight: 700;
}

.m {
    font-size: 21px;
    margin-left: 200px;
    display: inline;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-right: 25px;
}

.right {
    margin-left: 37%;
}

a:hover {
    color: rgba(26, 188, 156, 255);
}

.text {
    font-family: 'Roboto', sans-serif;
}

.wr {
    width: 100%;

}

.tour {
    margin-top: 30px;
    height: 600px;
    width: 100%;
    background: url(img/paris.jpg);
    background-position: center;
    position: relative;

}

.op {
    background: rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 100%;
    z-index: 1;
}

.green {
    width: 104px;
    height: 104px;
    background-color: rgba(26, 188, 156, 0.5);
    border: none;
    position: absolute;
}

.green:nth-child(1) {
    left: 18%;
    top: 240px;
}

.green:nth-child(2) {
    right: 18%;
    top: 240px;
}

.green:hover {
    background-color: rgba(26, 188, 156, 1);
}

.tr {
    font-size: 38px;
    color: #fff;
}

.paris {
    color: #fff;
    font-size: 47px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    position: absolute;
    top: 230px;
    left: 380px;

}

.tick {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    top: 300px;
    left: 380px;
}

h1:after {
    content: "";
    width: 164px;
    height: 7px;
    background: rgba(26, 188, 156, 255);
    position: absolute;
    display: block;
    left: 44%;
    bottom: -32px;
}

.description {
    background-color: #e9f0fd;
    height: 676px;
}

h1 {
    padding-top: 101px;
    text-align: center;
}

.butt {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border: solid 1px white;
}

.butt2 {
    width: 166px;
    height: 50px;
    background-color: #323232;
    border: none;
    border: solid 1px white;
    color: #fff;
}

.butt2:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.butt:hover {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.butt .butt2 {
    position: absolute;
}

.butt:nth-child(1) {
    left: 100px;
    top: 100px;
}

.div {
    width: 245px;
    height: 278px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.card:hover .div {
    display: block;
}

.card {
    width: 255px;
    height: 322px;
    display: inline-block;
    margin: 15px;
    margin-top: 120px;
    position: relative;
}

.img {
    width: 255px;
    height: 288px;
    background-position: top;
    display: inline-block;
    float: left;
    position: absolute;
}

.img1 {
    background-image: url(img/category-2@1X.png);
}

.img2 {
    background-image: url(img/category-1@1X.png);
}

.img3 {
    background-image: url(img/category-4@1X.png);
}

.img4 {
    background-image: url(img/category-3@1X.png);
}

.des {
    height: 40px;
    width: 201px;
    background-color: #323232;
    display: inline-block;
    float: left;
    position: absolute;
}

.price {
    height: 40px;
    width: 54px;
    background-color: #8c8c8c;
    display: inline-block;
    position: absolute;
    left: 201px;
}

.description h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #515151;
    font-size: 40px;
    position: relative;
}
.left{
    margin-left: 120px;
}
.name{
    position: relative;
    top: 288px;
}
.price p, .des p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
font-weight: 700;

}
.price p{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.des p{
    position: absolute;
    left: 10%;
    top: 25%;
}
.butt:nth-child(3n+1){
    position: absolute;
    transform: translate(-50%,-50%);
    left: 27%;
    top: 40%;
}
.butt:nth-child(3n+2){
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 40%;

}
.butt:nth-child(3n){
    position: absolute;
    transform: translate(-50%,-50%);
    left: 73%;
    top: 40%;
}
.butt2{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
}
.butt2 p{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 60%;
    top: 50%;
    font-size: 10px;
}
.butt2 img{
    position: absolute;
    left: 17%;
    transform: translate(-50%,-50%);
}
.card:hover .name .price{
    background-color: #7fd9c7;
}
.card:hover .name .des{
    background-color:#1abc9c;
}